@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-3xl font-semibold text-slate-900;
}

h2 {
  @apply text-xl font-semibold text-slate-900;
}

label {
  @apply text-sm font-medium text-slate-700;
}
